body {
	padding-top: 50px;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.sort-order:after {
	content: "\25b2";
}
.sort-order.reverse:after {
	content: "\25bc";
}

a[ng-click] {
	cursor: pointer;
}
