<h1 class="page-header">Customers Summary</h1>

<form class="sub-header form-inline">
	<div class="form-group">
		<label for="search">Search</label>
		<input type="text" class="form-control" id="search" ng-model="query">
	</div>
</form>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					<a ng-click="order('id')">#</a>
					<span class="sort-order" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
					<a ng-click="order('name')">Name</a>
					<span class="sort-order" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
					<a ng-click="order('address')">Address</a>
					<span class="sort-order" ng-show="predicate === 'address'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
					<a ng-click="order('phone_number')">Phone Number</a>
					<span class="sort-order" ng-show="predicate === 'phone_number'" ng-class="{reverse:reverse}"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in customers | filter:query | orderBy:predicate:reverse">
				<td><a href="#/customers/{{customer.id}}/credits">{{customer.id}}</a></td>
				<td>{{customer.name}}</td>
				<td>{{customer.address}}</td>
				<td>{{customer.phone_number}}</td>
			</tr>
		</tbody>
	</table>
</div>
