<h1 class="page-header">Products Summary</h1>

<form class="sub-header form-inline">
	<div class="form-group">
		<label for="search">Search</label>
		<input type="text" class="form-control" id="search" ng-model="query">
	</div>
</form>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>
					<a ng-click="order('id')">#</a>
					<span class="sort-order" ng-show="predicate === 'id'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
					<a ng-click="order('name')">Name</a>
					<span class="sort-order" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
					<a ng-click="order('price')">Price</a>
					<span class="sort-order" ng-show="predicate === 'price'" ng-class="{reverse:reverse}"></span>
				</th>
				<th>
					<a ng-click="order('quantity')">Quantity</a>
					<span class="sort-order" ng-show="predicate === 'quantity'" ng-class="{reverse:reverse}"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in products | filter:query | orderBy:predicate:reverse">
				<td>{{product.id}}</td>
				<td>{{product.name}}</td>
				<td>{{product.price}}</td>
				<td>{{product.quantity}}</td>
			</tr>
		</tbody>
	</table>
</div>
